.About{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 155px;
    width: 275px;
    background: rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    z-index: 11;
}

.About h1 {
    font-size: 19px;
}

.About p {
    font-size: 12px;
    position: relative;
    left: 50%;
    transform: translate(-50%)
}

.About button {
    font-size: 10px;
}

@media (min-width: 576px) { 
    .About{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 275px;
        width: 400px;
        background: rgba(0, 0, 0, 0.712);
        border-radius: 10px;
        z-index: 11;
    }
    
    .About h1 {
        font-size: 25px;
    }
    
    .About p {
        font-size: 22px;
        position: relative;
        left: 50%;
        transform: translate(-50%)
    }

    .About button {
        font-size: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .About{
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 600px;
        background: rgba(0, 0, 0, 0.712);
        border-radius: 10px;
        z-index: 11;
    }
    
    .About h1 {
        font-size: 30px;
    }
    
    .About p {
        font-size: 27px;
        width: 500px;
        position: relative;
        left: 50%;
        transform: translate(-50%)
    }

    .About button {
        font-size: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .About{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 600px;
        background: rgba(0, 0, 0, 0.712);
        border-radius: 10px;
        z-index: 11;
    }
    
    .About h1 {
        font-size: 30px;
    }
    
    .About p {
        font-size: 27px;
        width: 500px;
        position: relative;
        left: 50%;
        transform: translate(-50%)
    }

    .About button {
        font-size: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .About{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 600px;
        background: rgba(0, 0, 0, 0.712);
        border-radius: 10px;
        z-index: 11;
    }
    
    .About h1 {
        font-size: 30px;
    }
    
    .About p {
        font-size: 27px;
        width: 500px;
        position: relative;
        left: 50%;
        transform: translate(-50%)
    }

    .About button {
        font-size: 20px;
    }
}