.App {
    height: 100vh;
    background-color: #000940;
}

.ringCloud {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow: hidden;
}

.cloudImage {
    height: 175px;
    width: 325px;
    /* border: 1px solid red; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.ringimage {
    /* border: 1px solid red; */
    height: 350px;
    width: 350px;
    animation: ring-spin infinite 20s linear;
    overflow: hidden;
}

@keyframes ring-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (min-width: 576px) { 
    .cloudImage {
        height: 400px;
        width: 650px;
        /* border: 1px solid red; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    
    .ringimage {
        /* border: 1px solid red; */
        height: 750px;
        width: 750px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .cloudImage {
        height: 400px;
        width: 650px;
        /* border: 1px solid red; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    
    .ringimage {
        /* border: 1px solid red; */
        height: 750px;
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .cloudImage {
        height: 400px;
        width: 650px;
        /* border: 1px solid red; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    
    .ringimage {
        /* border: 1px solid red; */
        height: 750px;
        width: 750px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .cloudImage {
        height: 400px;
        width: 650px;
        /* border: 1px solid red; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    
    .ringimage {
        /* border: 1px solid red; */
        height: 700px;
        width: 700px;
    }
}

